<header class="site-head">
  <div class="container">
    <div class="site-head-content row">
      <div class="site-logo col-xs-2 col-md-1">
        {{> logo }}
      </div>
      <a href="/" class="site-title col-xs-10 col-sm-6 col-md-5">
        <h1>{{@blog.title}}</h1>
      </a>

      <div class="header-social-links hidden-xs col-sm-4 col-md-6 col-lg-5 col-lg-offset-1">
        <div class="row">
          <a href="mailto:jack@ofspades.com" class="email-link col-xs-3"><i class="fa fa-envelope-o"></i><span class="hidden-sm hidden-xs">Email</span></a>
          <a href="https://twitter.com/JacopoTarantino" class="twitter-link col-xs-3"><i class="fa fa-twitter"></i><span class="hidden-sm hidden-xs">Twitter</span></a>
          <br class="visible-xs">
          <a href="https://github.com/jacopotarantino" class="github-link col-xs-3"><i class="fa fa-github-alt"></i><span class="hidden-sm hidden-xs">Github</span></a>
          <a href="https://plus.google.com/u/0/+JacopoTarantino" class="google-link col-xs-3"><i class="fa fa-google-plus"></i><span class="hidden-sm hidden-xs">Google+</span></a>
        </div>
      </div>
    </div>
  </div>
</header>
